@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-primary-500: #39ae2a;
  --color-primary-700: #347554;

  --color-secondary-400: #ffbf05;

  --color-neutral-900: #323232;
  --color-neutral-200: #d1d5db;
  --color-neutral-100: #f5f5f5;
}

@layer components {
  .text-title {
    @apply font-roboto text-3xl font-bold text-primary-500;
  }

  .text-heading {
    @apply font-roboto text-3xl font-bold text-neutral-900;
  }

  .text-subheading {
    @apply font-roboto text-xl font-semibold text-neutral-900;
  }

  .text-h3 {
    @apply font-roboto text-base font-normal text-neutral-900;
  }

  .text-label {
    @apply font-roboto text-base font-semibold text-neutral-900;
  }

  .text-link {
    @apply font-roboto text-base font-semibold text-primary-500 underline cursor-pointer;
  }

  .text-body {
    @apply font-roboto text-base font-normal text-neutral-900;
  }

  .text-detail {
    @apply font-roboto text-base font-normal italic text-neutral-900;
  }

  .text-badge {
    @apply font-roboto text-xs font-black uppercase tracking-wide;
  }
}

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
